/*
Default CSS
*/
/*
*{margin: 0; padding: 0;}
*/
.clear{clear: both;}

a {
	color:inherit;
	text-decoration: none;
}

em {
	color: #B77029;
	font-style: normal;
}

p {
	margin: 20px; 
}

header {
	position: relative;
	top: 0px;
	width: 100%;
	background: #302110;
	font-family: Helvetica, Arial, sans-serif;
	color: #feeace;
}

header .content {
	height: 30px;
	margin: auto;
	position: relative;
	width: 960px;

}
	nav {
		color: #EEEEEE;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
	}

		nav li { 
			display: inline;
		}

#logo {
	background: #2E2E2E;
}
	#logo #fName {
		color: #FC9D15;
	}

	#logo #lName {
		color: #B77029;
	}

#tagline {
	background: #FDC069;
	width: 960px;
}

body {
	/* testing container
	width: 100%;
	height: 100%;
	*/
	min-width: 960px;
	background: #FFF1DE;
	font-family: Helvetica, Arial, sans-serif;

}

.container {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}

.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 320px; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; width: 100%; height: auto; }

#info {
	background: #FDC069;
	height: 250px;
	width: 960px;
}

#info h2 {

}

#info p {

}

footer {
	background: #302110;
	color: #FEEACE;
}

#social {

}